
  nav div div ul li:hover {
    color:yellow;
  }

  nav div div ul li:hover ul{
    max-height:999px;
  }
  nav div div ul li ul:hover li{
    color:yellow;
    background-color:green;
  }